.env
.ipynb
test_app.ipynb
demographics_age_trend_updater.py
pwani.pdf
pwani.xlsx
SKU_Maps.xlsx
test.ipynb
.streamlit
new_app.py
main.log
Images
image_dataset
working_code.py
new_product.json
db.json
demographics.json
app.log
new_product.json
Output.db
product_database.json
retrieved_image.png